# Copyright 2026 Dell Inc. or its subsidiaries. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
---

# Load network specification
- name: Load network spec file
  ansible.builtin.include_vars:
    file: "{{ network_spec }}"
  register: include_network_spec
  no_log: true

- name: Fail if network spec cannot be loaded
  ansible.builtin.fail:
    msg: "{{ network_spec_syntax_fail_msg }} Error: {{ include_network_spec.message }}"
  when: include_network_spec is failed

# Parse network spec data
- name: Parse network spec
  ansible.builtin.set_fact:
    network_data: "{{ network_data | default({}) | combine({item.key: item.value}) }}"
  with_dict: "{{ Networks }}"

# Set PXE IP fact
- name: Set PXE IP fact
  ansible.builtin.set_fact:
    oim_pxe_ip: "{{ network_data.admin_network.primary_oim_admin_ip }}"
    cacheable: true

# Copy pulp certificate and update CA trust
- name: Copy pulp webserver certificate to anchors
  ansible.builtin.copy:
    src: "{{ pulp_webserver_cert_path }}"
    dest: "{{ anchors_path }}"
    mode: "{{ dir_permissions_644 }}"
  become: true

- name: Update CA trust
  ansible.builtin.command: update-ca-trust
  register: update_ca
  changed_when: false

- name: Build full Podman image path for x86_64
  ansible.builtin.set_fact:
    pulp_x86_image: "{{ oim_pxe_ip }}:2225/{{ pulp_x86_64_image_name }}"

- name: Pull and tag x86_64 image
  block:
    - name: Pull x86_64 image using Podman
      containers.podman.podman_image:
        name: "{{ pulp_x86_image }}"
        state: present
      register: pull_result
      retries: "{{ pull_image_retries }}"
      delay: "{{ pull_image_delay }}"
      until: pull_result is not failed
      changed_when: false

    - name: Tag pulled image for x86_64 build
      containers.podman.podman_tag:
        image: "{{ pulp_x86_image }}"
        target_names:
          - "{{ x86_64_local_tag }}"
      changed_when: false

  rescue:
    - name: Fail if Podman pull failed
      ansible.builtin.fail:
        msg: "Failed to pull image {{ pulp_x86_image }}."
