# Copyright 2026 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

[Unit]
Description=OpenCHAMI CoreDHCP Service
Wants=network-online.target
After=network-online.target
Wants=openchami-internal-network.target
After=openchami-internal-network.target
PartOf=openchami.target

[Container]
Image=ghcr.io/openchami/coresmd:{{ openchami_coresmd_tag }}
ContainerName=coresmd-coredhcp
Exec=--config=/etc/coredhcp/coredhcp.yaml --mode=coredhcp
Network=openchami.internal
PodmanArgs=--cap-add=NET_ADMIN --cap-add=NET_RAW
Volume=step-root-ca.volume:/root_ca/:ro
Volume=/etc/openchami/configs/coredhcp.yaml:/etc/coredhcp/config.yaml:ro
HealthCmd=coresmd --health-check --mode=coredhcp
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3
Restart=on-failure

[Install]
RequiredBy=openchami.target
WantedBy=multi-user.target
